.vscode/
.deps
.libs
*.o
*.la
*.lo
*.log
Makefile
config.h
config.log
config.status
libtool
stamp-h1
config.h.in~
test/publisher/Makefile.in
test/subscriber/Makefile.in
test/test/Makefile.in
tools/monitor/Makefile.in
autom4te.cache
Makefile.in
configure
examples/ydb/*-example
ydb/utilities/.dirstamp
tools/ydb/ydb-publisher
tools/ydb/ydb-subscriber
ex-yarray
ex-ynode
ydb-app
tools/ydb/ydb
examples/ydb/ydb-ex-path
examples/ydb/ydb-ex-seq
examples/ydb/ydb-ex-map
r11.yaml
r12.yaml
examples/ydb/ydb-ipc-select
examples/ydb/ydb-ipc-pub
examples/ydb/ydb-ipc-sub
examples/ydb/ydb-ipc-write-hook
examples/ydb/ydb-ipc-read-hook
examples/ydb/ydb-example2
examples/ydb/ydb-example1
examples/ydb/ydb-example3
python/ydb.pyc
python/_ydb.so
examples/ydb/ydb-cpp
python/build
examples/ydb/ydb-base64
python/installed.txt
python/__pycache__
python/ydb-installed3.txt
python/ydb-installed.txt
